:root {
  --background: #FFF8F0;
  --foreground: #4A4A4A;
  --text: #3E3E3E;
  --card-bg: #FFFFFF;
  --search-bg: #F0E7DB;
  --button-bg: #C17C74;
  --button-text: #FFFFFF;
  --button-secondary-bg: #DDC9B4;
  --button-secondary-text: #7A6C5D;
  --link-color: #C17C74;
  --heading-color: #C17C74;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2A3D45;
    --foreground: #DDC9B4;
    --text: #BCAC9B;
    --card-bg: #374B52;
    --search-bg: #3B4F56;
    --button-bg: #C17C74;
    --button-text: #2A3D45;
    --button-secondary-bg: #7A6C5D;
    --button-secondary-text: #DDC9B4;
    --link-color: #C17C74;
    --heading-color: #C17C74;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  transition: filter 0.3s ease;
  cursor: pointer;
}

button:hover {
  filter: brightness(90%);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
