.header {
    width: 100%;
    min-height: 60px;
    padding: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.footer {
    min-height: 40px;
    width: 100%;
    padding: 0 16px;
    border-radius: 8px 8px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    background-color: var(--card-bg);
    color: var(--link-color);
}

.suggestionsPanel {
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.suggestionsPanelChevrons {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    flex-shrink: 0;
    
    border: none;
    background-color: transparent;

    color: var(--foreground);
}
.suggestionsPanelChevrons:hover {
    background-color: var(--button-bg);
}
.suggestionsPanelChevrons:disabled {
    color: var(--search-bg);
}

.suggestionCard {
    flex: 1;
    min-width: 20%;
    height: 100%;
    border-radius: 8px;
    background-color: var(--card-bg);
    overflow: hidden;
    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.suggestionCardImage {
    position: relative !important;

    height: auto !important;
    width: 100% !important;
    border-radius: 8px;

    object-fit: contain;
}

.suggestionCardInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    
    height: 100%; 
}

.tagsPanel {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.tagsPanelButton {
    border: none;
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;

    background-color: var(--button-secondary-bg);
    color: var(--button-secondary-text);
}

.headH2 {
    font-family: Tahoma, sans-serif;
    color: var(--heading-color);
}

.headThemeButton {
    border: none;
    border-radius: 12px;
    padding: 4px;
    background-color: var(--button-bg);
    color: var(--button-text);
}

.headSearchContainer {
    width: 30%;
    height: auto;
    position: relative;

    display: flex;
    flex-direction: column;
}

.headSearch {
    border: none;
    border-radius: 12px;
    padding: 12px;
    width: 100%;

    background-color: var(--search-bg);
    color: var(--button-secondary-text);
}
.headSearch:focus {
    outline: var(--foreground);
}

.searchSuggestionsContainer {
    width: 100%;
    height: auto;
    background-color: var(--card-bg);
    position: absolute;
    width: 100%;
    top: 42px;
    border-radius: 12px;
    z-index: 5;
}

.searchSuggestionItem {
    width: calc(100% - 8px);
    color: var(--text);
    border: none;
    cursor: pointer;
    text-align: start;
    border-radius: 4px;
    
    padding: 8px;
    margin: 2px;

    background-color: var(--button-bg);
    color: var(--button-text);
}